body{
 background:#efefef;
 margin:0;
}
a{
 color:inherit;
 text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
hr{
    height:0;
    border:0;
    border-top:1px solid #dedede;
}
ul,
ol{
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
.clearfix::after{
    coNtent:'';
    display: block;
    clear: both;
}
.topNavBar{
    padding: 20px 0px 20px 0px;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    transition:all 0.5s;
    color: #b7b7b7;
}
.topNavBar.sticky{
    background:white;
    padding:10px 0;
    z-index:1;
    color:#3d4451;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}
.topNavBar-inner{
    padding:0 16px;
}
.topNavBar nav{
    padding-top: 5px;
}
.topNavBar nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topNavBar nav>ul>li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}.topNavBar nav>ul>li>a{
    font-size: 12px;
    font-weight: bold;
    color:inherit;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: relative;
}
.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after{
   content:'';
   display:block;
   position: absolute;
   top:100%;
   left: 0;
   width:100%;
   height:3px;
   background:#e06567;
   animation:menuSlide 0.3s
}
@keyframes menuSlide{
    from{width:0;}
    to{width:100%;}
}
.topNavBar .submenu{
    display: none;
}
.topNavBar li.active>.submenu{
    display: block;
    position: absolute;
    top:100%;
    right:0;
    background:white;
    color:#3d4451;
    box-shadow:0 0 5px rgba(0,0,0,0.5);
    animation:submenuSlide 0.3s;
}
@keyframes submenuSlide{
    from{margin-right:100%}
    to{margin-right:0%}
}
.topNavBar .submenu>li{
    white-space: nowrap;
    padding:5px 10px;
}
.topNavBar .logo{
    font-size:24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs{
    margin-right: 4px;
    color: #e6686a;
} 
.topNavBar .logo .card{
    color: #9a9da2;
}
.banner{
    height:515px;
    background-image:url(./img/rs-cover-2-2-1-1.jpg);
    background-position: center center;
    background-size: cover;
}
.banner .mask{
height:515px;
background-color:rgb(0,0,0,0.8);
}
.usercard{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
}
.usercard .welcome{
    background: #e6686a;
    color: white;
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    margin-bottom: 10px;
}
.usercard .welcome .triangle{
    display: block;
    border:10px solid transparent;
    width:0px;
    height:0px;
    border-left-color:#e6686a;
    border-top-width:0px;
    position: absolute;
    left:4px;
    top:100%;
}
.usercard .picture{
    float: left;
}
.usercard .text{
    float: left;
    margin-left: 65px;
    width: 430px;
}
.usercard .text h1{
    margin-top: 18px;
    margin-bottom:8px;
}
.usercard .text hr{
    margin:24px 0px;
}
.usercard .pictureAndText{
    padding:50px;
}
.usercard dl dt,
.usercard dl dd{
    float: left;
    padding:10px 0;
}
.usercard dl dt{
    width: 35%;
    font-weight: bold;
}
.usercard dl dd{
    width: 60%;
    color:#9da0a7
}
.usercard>footer.media{
    background: #e6686a;
    text-align: center;
}
.usercard>footer.media>a{
    display:inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}
.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
.usercard>footer.media>a:hover{
    background:#cf5d5f;
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill:white;
    vertical-align: top;
}
body>main{
    margin-top:-340px;
}
body>main .downloadresume-wrapper{
    text-align: center;
}
body>main .downloadresume{
    font-size: 14px;
    line-height: 16px;
    padding:21px 55px;
    border:1px solid #cdcfd1;
    background:#efefef;
    display:inline-block;
    border-radius:2px;
    color:#3d4451;
    font-weight: bold;
    margin:32px 0px;
    transition:box-shadow 0.2s;
}
body>main .downloadresume:hover{
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.2);
}
.selfintroduction{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
   text-align: center;
   font-family: kaiti;
   line-height: 1.8;
   font-size: 18px;
}
section.skills,
section.portfolio{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
section.skills>h2,
section.portfolio>h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    text-align: center;
    margin-top:55px;
}
section.skills h3{
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills>ol{
   background: white;
   box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5);
   padding: 42px 50px 10px;
   margin-top: 30px;
}
section.skills>ol>li{
    float: left;
    width: 48%;
}
section.skills>ol>li:nth-child(even){
    float:right;
}
section.skills .progressbar{
   height: 5px;
   background: #fae1e1;
   margin:4px 0px 40px;
   overflow: hidden;
}
section.skills .progressbar .progress{
    height: 5px;
    width: 50%;
    background: #e6686a;
    border-radius: 2px;
    transform: translateX(0);
    transition:all 0.5s;
}
section.skills.offset .progress{
    transform: translateX(-100%);
}
section.portfolio{
    text-align: center;
    margin-bottom: 100px;
    max-width: 720px;
} 
section.portfolio>h2{
    margin-bottom: 32px;
} 
section.portfolio .swiper{
    width: 668px;
    height: 501px;
}
section.portfolio .swiper-button-prev,.swiper-button-next{
    width:64px;
    height:64px;
    background-color:white;
    border-radius: 50%;
    right:100%;
    left:auto;
    margin-top: auto;
    margin-bottom: auto;
}
section.portfolio .swiper-button-next{
    left:100%;
    right:auto;
}


[data-x].active{
    outline:10px solid red;
}
[data-x].offset{
    transform: translateY(100px);
}
[data-x]{
    transform: translateY(0);
    transition:all 0.5S;
}